margin: 10px auto;
max-width: 150px;
}

.benefit-brand img {
display: block;
margin: 10px auto;
max-width: 150px;
}

.benefit-cost img {
display: block;
margin: 10px auto;
max-width: 150px;
}

.search-engine-optimization {
margin-bottom: 20px;
padding: 50px;
height: 300px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: #0072bb;
color: #ffffff;
}

.online-reputation-management {
margin-bottom: 20px;
padding: 50px;
height: 300px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: #0072bb;
color: #ffffff;
}

.social-media-marketing {
margin-bottom: 20px;
padding: 50px;
height: 300px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: #0072bb;
color: #ffffff;
}

.search-engine-optimization img {
max-height: 200px;
}

.online-reputation-management img {
max-height: 200px;
}

.social-media-marketing img {
max-height: 200px;
}

.search-engine-optimization h2 {
margin-bottom: 20px;
font-size: 36px;
}

.online-reputation-management h2 {
margin-bottom: 20px;
font-size: 36px;
}

.social-media-marketing h2 {
margin-bottom: 20px;
font-size: 36px;
}

.footer {
padding: 30px;
clear: both;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
}

.footer h2 {
font-size: 20px;
}
